body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.main-header {
    background-color: #1F2937;
    color: white;
}

.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-nav ul {
    text-align: center;
}

.main-nav li {
    display: inline;
}

.container-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 700px    ;
}

.hero-flex {
    display: flex;
    padding: 35px;
    color: white;
    justify-content: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    line-height: 50px;
    width: 500px;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    width: 450px  ;
}

.hero-button {   
    display: flex;
    padding-top: 10px;
}

.hero-sign-up {
    color: white;
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 6px 30px;
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-info {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
}

.container-info img {
    width: 100px;
    height: 100px;
    border: solid blue 2px;
    border-radius: 5px;  
}

.container-quote {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    padding: 100px;
}

.info {
    max-width: 200px;
}

.title {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.container-subscription {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscription-box {
    display: flex;
    background-color: #3882F6;
    padding: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    color: white;
    width: 750px;
    justify-content: space-evenly;
}

.subscription-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
}

.subscription-header {
    font-size: 20px;
    font-weight: bold;
}

.subscription-subtext {
    margin-top: 3px;
}

.sign-up-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-subscription {
    color: white;
    font-weight: bold;
    background-color: #3882F6;
    border: solid white 1px;
    border-radius: 5px;
    padding: 6px 30px;
}

.main-nav a {
    display: inline-block;
    padding: .5em 1.5em;
}

.header h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder; 
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header button {
    background-color: #3882F6;
    color: white;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}