@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Header and Navbar */
.container {
    max-width: 100%;
    margin: 0 auto;
}

.main-header {
    background-color: #4D020E;
    color: white;
}

.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-nav ul {
    text-align: center;
}

.main-nav li {
    display: inline;
    font-size: 18px;
    font-weight: bold;
}

.main-nav a {
    display: inline-block;
    padding: .5em 1.5em;
    color: white;
    text-decoration: none;
    position: relative;
}

.main-nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.main-nav a::after {
    transform: scaleX(0);
}

.main-nav a:hover::after {
    transform: scaleX(1);
}

.main-nav a:hover::after {
   transform-origin: bottom left;
}

/* Hero Section */
.container-hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-flex {
    display: flex;
    padding: 35px;
    color: white;
    justify-content: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 140px;
}

.hero-header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    line-height: 50px;
    width: 500px;
    padding-bottom: 15px;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    width: 450px  ;
}

.hero-button {   
    display: flex;
    padding-top: 20px;
}

.hero-book-now {
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #D90429;
    border-radius: 5px;
    padding: 8px 30px;
    border-style: none;
}

.hero-image {
    display: flex;
    justify-content: flex-end;
    width: 45vw;
}

.img-hero {
    width: 500px;
    height: 300px;
}

/* Our Services Section */
.container-info {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
}

.container-info img {
    width: 100px;
    height: 100px;
    border: solid #D90429 3px;
    border-radius: 5px;  
}

.info {
    max-width: 150px;
}

.text {
    padding-top: 10px;
    font-weight: bold;
}

.title {
    margin-top: 32px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

/* Quote Section */
.container-quote {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    padding: 100px;
}

/* Booking Section */

.container-booking {
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-box {
    display: flex;
    background-color: #D90429;
    padding: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    color: white;
    width: 750px;
    justify-content: space-evenly;
}

.booking-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
}

.booking-header {
    font-size: 20px;
    font-weight: bold;
}

.booking-subtext {
    margin-top: 3px;
}

.book-now-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-now-booking {
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: #D90429;
    border: solid white 2px;
    border-radius: 5px;
    padding: 10px 30px;
}

/* Footer */

footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D020E;
    color: white;
    font-weight: bold;
}